src/flows/Chatter_Notification_For_Request_Assignment-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter_to_Group</name>
        <label>Post Chatter to Group</label>
        <locationX>467</locationX>
        <locationY>356</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>feed</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_If_Logged_In_User_Is_Of_1_4_MCD_Giving_Officers</name>
        <label>Check If Logged In User Is Of 1.4-MCD Giving Officers</label>
        <locationX>221</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>User_of_1_4_MCD_Giving_Officers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentUserProfileId</elementReference>
                </rightValue>
            </conditions>
            <label>User of 1.4-MCD Giving Officers</label>
        </rules>
        <rules>
            <name>User_Not_of_1_4_MCD_Giving_Officers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentUserProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Id</targetReference>
            </connector>
            <label>User Not of 1.4-MCD Giving Officers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile_Exist_Or_Not</name>
        <label>Check Profile Exist Or Not?</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Profile_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Logged_In_User_Is_Of_1_4_MCD_Giving_Officers</targetReference>
            </connector>
            <label>Profile Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Exist_Or_Not</name>
        <label>Group Exist Or Not</label>
        <locationX>465</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Group_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Due_Date</targetReference>
            </connector>
            <label>Group Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <label>Chatter Notification For Request Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Name</name>
        <label>Get Contact Name</label>
        <locationX>40</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile_Id_Of_Logged_In_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Id</name>
        <label>Get Group Id</label>
        <locationX>457</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MCD PAM Review</stringValue>
            </value>
        </filters>
        <object>CollaborationGroup</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_ID</name>
        <label>Get Profile ID</label>
        <locationX>40</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Profile_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1.4-MCD Giving Officers</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>ProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Id_Of_Logged_In_User</name>
        <label>Get Profile Id Of Logged In User</label>
        <locationX>40</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentUserProfileId</assignToReference>
            <field>ProfileId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_Due_Date</name>
        <label>Update Task Due Date</label>
        <locationX>459</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Post_Chatter_to_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Get_Contact_Name</startElementReference>
    <textTemplates>
        <name>ChatterMessage</name>
        <text>Urgent assignment request for {!ContactName} from {!UserName} please refer to task details.</text>
    </textTemplates>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUserProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
