src/flows/Chatter_Notification_For_Contact_Reports-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter_On_Account</name>
        <label>Post Chatter On Account</label>
        <locationX>275</locationX>
        <locationY>76</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AccountChatterMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>feedItem</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_On_Contact</name>
        <label>Post Chatter On Contact</label>
        <locationX>218</locationX>
        <locationY>298</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ContactChatterMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>feedItem</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_If_CR_Initiated_From_Contact_Or_Account</name>
        <label>Check If CR Initiated From Contact Or Account</label>
        <locationX>22</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Initiated_From_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Chatter_On_Account</targetReference>
            </connector>
            <label>Initiated From Account</label>
        </rules>
        <rules>
            <name>Initiated_From_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Chatter_On_Contact</targetReference>
            </connector>
            <label>Initiated From Contact</label>
        </rules>
    </decisions>
    <label>Chatter Notification For Contact Reports</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>31</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_CR_Initiated_From_Contact_Or_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Author</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AuthorName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_User_Name</startElementReference>
    <textTemplates>
        <name>AccountChatterMessage</name>
        <text>Contact report for {!AccountName} was entered by {!AuthorName} for an interaction on {!ContactDate}.
Subject {!Subject} - Significant: {!Significant} - Type {!Type} - Purpose  {!Purpose}</text>
    </textTemplates>
    <textTemplates>
        <name>ContactChatterMessage</name>
        <text>Contact report for  {!ContactName}  was entered by {!AuthorName} for an interaction on {!ContactDate}.
Subject {!Subject} - Significant: {!Significant} - Type {!Type} - Purpose  {!Purpose}</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Author</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AuthorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feedItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Purpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Significant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
