src/flows/Chatter_Notification_For_Strategy-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter_On_Related_Account</name>
        <label>Post Chatter On Related Account</label>
        <locationX>431</locationX>
        <locationY>266</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>linebreaktemplate1</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AccountFeedItem</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_On_Related_Contact</name>
        <label>Post Chatter On Related Contact</label>
        <locationX>385</locationX>
        <locationY>49</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>linebreaktemplate1</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ContactFeedItem</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_On_Strategy_Record</name>
        <label>Post Chatter On Strategy Record</label>
        <locationX>55</locationX>
        <locationY>179</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_If_Contact_Exist_Or_Not</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>StrategyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItem</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <constants>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;/br&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Contact_Exist_Or_Not</name>
        <label>Check If Contact Exist Or Not?</label>
        <locationX>215</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Chatter_On_Related_Contact</targetReference>
            </connector>
            <label>Contact Exist?</label>
        </rules>
        <rules>
            <name>Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Chatter_On_Related_Account</targetReference>
            </connector>
            <label>Account Exist?</label>
        </rules>
    </decisions>
    <formulas>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <expression>&apos;This Solicitation Strategy has been set to READY FOR APPROVAL. &apos; + {!LineBreak}+&apos; It has the required attributes to be sent into the approval process. &apos; +{!LineBreak}+
&apos;Related Account:  &apos;+ {!AccountName} + {!LineBreak}+&apos;Proposed Ask Range:  &apos; + {!ProposedAskRange}  +{!LineBreak} + &apos;Confidence in Strategy Success: &apos; +  {!Confidence} + {!LineBreak} + &apos;For comments or discussion related to this strategy, please reply to this chatter post.&apos;</expression>
    </formulas>
    <label>Chatter Notification For Strategy</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Post_Chatter_On_Strategy_Record</startElementReference>
    <textTemplates>
        <name>lineBreakTemplate</name>
        <text>~
~</text>
    </textTemplates>
    <textTemplates>
        <description>used for line break</description>
        <name>linebreaktemplate1</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hi &amp;lt;br/&amp;gt; Aditi&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountFeedItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Confidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactFeedItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProposedAskRange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrategyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>String1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>This Solicitation Strategy has been set to READY FOR APPROVAL.</stringValue>
        </value>
    </variables>
    <variables>
        <name>String2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>It has the required attributes to be sent into the approval process.</stringValue>
        </value>
    </variables>
</Flow>
