src/flows/Create_BI_Action_Plans_On_Planned_Giving-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Task_Instance_To_List</name>
        <label>Add Task Instance To List</label>
        <locationX>660</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>sobjColActionPlanTaskToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjActionPlanNewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_All_Child_Task_to_Create_New_Taks_For_Action_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_Decrement</name>
        <label>Counter Decrement</label>
        <locationX>524</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>660</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Action_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>actionPlanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Days_After__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Days_After__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Dependent_Task_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Dependent_Task_Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__IsReminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__IsReminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Parent_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Parent_Task__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Minutes_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Minutes_Reminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Send_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Send_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Instance_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>311</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Template_Name_For_MIWR</targetReference>
            </connector>
            <label>If Count 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Count_For_Action_Plan</name>
        <label>Check Count For Action Plan</label>
        <locationX>350</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Action_Plan_For_MIWR</targetReference>
            </connector>
            <label>Count 1</label>
        </rules>
        <rules>
            <name>Count_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Action_Plan</targetReference>
            </connector>
            <label>Count 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_ALR_Exist_Or_Not</name>
        <label>Check If ALR Exist Or Not?</label>
        <locationX>45</locationX>
        <locationY>161</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ALR_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALRTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Action_Plan_Template</targetReference>
            </connector>
            <label>ALR Exist</label>
        </rules>
        <rules>
            <name>ALR_NOT_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALRTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_MIWR_Exist_Or_Not</targetReference>
            </connector>
            <label>ALR NOT Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Child_Task_Exist_Or_Not</name>
        <label>Check If Child Task Exist Or Not</label>
        <locationX>826</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Child_Task_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjCollActionPlanTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_All_Child_Task_to_Create_New_Taks_For_Action_Plan</targetReference>
            </connector>
            <label>Child Task Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_MIWR_Exist_Or_Not</name>
        <label>Check If MIWR Exist Or Not</label>
        <locationX>778</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MIWR_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MIWRTemplate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Counter_Decrement</targetReference>
            </connector>
            <label>MIWR Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Template_Exist_Or_Not</name>
        <label>Check If Template Exist Or Not</label>
        <locationX>255</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Template_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Count_For_Action_Plan</targetReference>
            </connector>
            <label>Template Exist</label>
        </rules>
    </decisions>
    <description>This flow will create an action plan along with child tasks, according to action plan template from which action plan created.</description>
    <formulas>
        <name>ALR_ApiName</name>
        <dataType>String</dataType>
        <expression>{!plannedGivingName}+ &apos;-&apos;  + {!actionPlanApiName}</expression>
    </formulas>
    <formulas>
        <name>MIWRActionPlanName</name>
        <dataType>String</dataType>
        <expression>{!plannedGivingName}+ &apos;-&apos;  + {!MIWR_ApiName}</expression>
    </formulas>
    <label>Create BI Action Plans On Planned Giving</label>
    <loops>
        <name>Looping_All_Child_Task_to_Create_New_Taks_For_Action_Plan</name>
        <label>Looping All Child Task to Create New Taks For Action Plan</label>
        <locationX>823</locationX>
        <locationY>132</locationY>
        <assignNextValueToReference>sobjActionPlanTask</assignNextValueToReference>
        <collectionReference>sobjCollActionPlanTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Task_On_Action_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Action_Plan</name>
        <label>Create Action Plan</label>
        <locationX>489</locationX>
        <locationY>30</locationY>
        <assignRecordIdToReference>actionPlanId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_All_Child_Action_Plan_Task_On_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ALR_ApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Action_Plan_Template__c</field>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__WhatId__c</field>
            <value>
                <elementReference>relatedToId</elementReference>
            </value>
        </inputAssignments>
        <object>rC_Bios__Action_Plan__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Action_Plan_For_MIWR</name>
        <label>Create Action Plan For MIWR</label>
        <locationX>525</locationX>
        <locationY>141</locationY>
        <assignRecordIdToReference>actionPlanId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_All_Child_Action_Plan_Task_On_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>MIWRActionPlanName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Action_Plan_Template__c</field>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__WhatId__c</field>
            <value>
                <elementReference>relatedToId</elementReference>
            </value>
        </inputAssignments>
        <object>rC_Bios__Action_Plan__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Task_On_Action_Plan</name>
        <label>Create Child Task On Action Plan</label>
        <locationX>837</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Check_If_MIWR_Exist_Or_Not</targetReference>
        </connector>
        <inputReference>sobjColActionPlanTaskToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Plan_Record_Type_Id</name>
        <label>Get Action Plan Record Type Id</label>
        <locationX>49</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_ALR_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action_Plan</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>actionPlanRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template</name>
        <label>Get Action Plan Template</label>
        <locationX>42</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Template_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ALRTemplate</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Action_Plan__c</object>
        <outputAssignments>
            <assignToReference>templateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Template_Name_For_MIWR</name>
        <label>Get Action Template Name For MIWR</label>
        <locationX>205</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Template_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MIWRTemplate</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Action_Plan__c</object>
        <outputAssignments>
            <assignToReference>templateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Child_Action_Plan_Task_On_Template</name>
        <label>Get All Child Action Plan Task On Template</label>
        <locationX>654</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Child_Task_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>rC_Bios__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Action_Plan_Task__c</object>
        <outputReference>sobjCollActionPlanTasks</outputReference>
        <queriedFields>rC_Bios__Subject__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>rC_Bios__Comments__c</queriedFields>
        <queriedFields>rC_Bios__Parent_Task__c</queriedFields>
        <queriedFields>rC_Bios__Days_After__c</queriedFields>
        <queriedFields>rC_Bios__Due_Date__c</queriedFields>
        <queriedFields>rC_Bios__Assigned_To__c</queriedFields>
        <queriedFields>rC_Bios__Category__c</queriedFields>
        <queriedFields>rC_Bios__Priority__c</queriedFields>
        <queriedFields>rC_Bios__Send_Email__c</queriedFields>
        <queriedFields>rC_Bios__IsReminder__c</queriedFields>
        <queriedFields>rC_Bios__Dependent_Task_Index__c</queriedFields>
        <queriedFields>rC_Bios__WhatId__c</queriedFields>
        <queriedFields>rC_Bios__Minutes_Reminder__c</queriedFields>
        <queriedFields>rC_Bios__Status__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Action_Plan_Record_Type_Id</startElementReference>
    <variables>
        <name>actionPlanApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionPlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionPlanTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ALRTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MIWR_ApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MIWRTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plannedGivingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjActionPlanNewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Action_Plan_Task__c</objectType>
    </variables>
    <variables>
        <name>sobjActionPlanTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Action_Plan_Task__c</objectType>
    </variables>
    <variables>
        <name>sobjColActionPlanTaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Action_Plan_Task__c</objectType>
    </variables>
    <variables>
        <name>sobjCollActionPlanTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Action_Plan_Task__c</objectType>
    </variables>
    <variables>
        <name>templateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
