src/flows/Create_Communication_On_Contact-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_If_Email_Updated</name>
        <label>Check If Email Updated?</label>
        <locationX>270</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SAA_Updated_With_Fax</name>
            <conditionLogic>(1 AND 2) OR ( 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>SAAEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldSAAValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAAEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAAEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Record</targetReference>
            </connector>
            <label>SAA Updated With Fax</label>
        </rules>
        <rules>
            <name>GSB_Updated_With_Fax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GSBEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldGSBValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GSBEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Record_When_both_Fax_and_Email_Updated</targetReference>
            </connector>
            <label>GSB Updated With Fax</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IF_Fax_Or_Email_Updated</name>
        <label>Check IF Fax Or Email Updated?</label>
        <locationX>372</locationX>
        <locationY>24</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Fax_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PhoneNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldFaxValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Communication</targetReference>
            </connector>
            <label>Fax Updated</label>
        </rules>
        <rules>
            <name>SAA_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAAEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldSAAValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAAEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Record</targetReference>
            </connector>
            <label>SAA Updated</label>
        </rules>
        <rules>
            <name>GSB_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GSBEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldGSBValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GSBEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Record_When_both_Fax_and_Email_Updated</targetReference>
            </connector>
            <label>GSB Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_GSB_Updated_With_SAA</name>
        <label>Check If GSB Updated With SAA</label>
        <locationX>577</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GSB_Updated_WIth_SAA</name>
            <conditionLogic>(1 AND 2 )OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>GSBEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OldGSBValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GSBEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GSBEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Record_When_both_Fax_and_Email_Updated</targetReference>
            </connector>
            <label>GSB Updated WIth SAA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_New_Contact_Created</name>
        <label>Check If New Contact Created?</label>
        <locationX>45</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Fax_Populated_On_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Communication</targetReference>
            </connector>
            <label>Fax Populated On Creation</label>
        </rules>
        <rules>
            <name>SAA_Populated_On_Contact_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAAEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Record</targetReference>
            </connector>
            <label>SAA Populated On Contact Creation</label>
        </rules>
        <rules>
            <name>GSB_Populated_On_Contact_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GSBEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Record_When_both_Fax_and_Email_Updated</targetReference>
            </connector>
            <label>GSB Populated On Contact Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Or_Updated</name>
        <label>Is New Or Updated?</label>
        <locationX>19</locationX>
        <locationY>164</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_New_Contact_Created</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IF_Fax_Or_Email_Updated</targetReference>
            </connector>
            <label>Is Updated</label>
        </rules>
    </decisions>
    <label>Create Communication On Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Communication</name>
        <label>Create Child Communication</label>
        <locationX>270</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Check_If_Email_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PhoneRecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Phone__c</field>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Type__c</field>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Record</name>
        <label>Create Email Record</label>
        <locationX>441</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Check_If_GSB_Updated_With_SAA</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EmailRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Email__c</field>
            <value>
                <elementReference>SAAEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Type__c</field>
            <value>
                <stringValue>SAA</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Record_When_both_Fax_and_Email_Updated</name>
        <label>Create Email Record When both Fax and Email Updated</label>
        <locationX>621</locationX>
        <locationY>220</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EmailRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Email__c</field>
            <value>
                <elementReference>GSBEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Type__c</field>
            <value>
                <stringValue>GSB</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_type</name>
        <label>Get Record type</label>
        <locationX>37</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_type_Id_For_Email</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PhoneRecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_type_Id_For_Email</name>
        <label>Get Record type Id For Email</label>
        <locationX>202</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_Or_Updated</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rC_Education__Communication_Method__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EmailRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Record_type</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BothEmailUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FaxAndEmailUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FaxUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GSBEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OldFaxValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldGSBValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldSAAValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAAEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeForEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
