src/flows/Create_Salutaion_Records-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_saluation_line_with_account_name</name>
        <label>Update saluation line with account name</label>
        <locationX>662</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>sobjChildSalutation.rC_Bios__Salutation_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjChildSalutation.Truncated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjColSalutations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjChildSalutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Child_Saluatations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_saluation_line_with_new_truncated_account_name</name>
        <label>Update saluation line with new truncated account name</label>
        <locationX>700</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>sobjChildSalutation.rC_Bios__Salutation_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TruncatedAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjChildSalutation.Truncated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SobjColSalutations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjChildSalutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Child_Saluatations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Need_to_truncate_Account_Name</name>
        <label>Check If Need to truncate Account Name?</label>
        <locationX>126</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Create_Organization_Pref_Mail_Name_Salutation_without_truncation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Truncate_Account_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountNameLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Organization_Pref_Mail_Name_Salutation</targetReference>
            </connector>
            <label>Truncate Account Name?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_we_need_to_create_saluatation_or_update</name>
        <label>Check If we need to create saluatation or update?</label>
        <locationX>37</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Get_All_child_Salutations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Salutation?</defaultConnectorLabel>
        <rules>
            <name>Create_Salutation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Need_to_truncate_Account_Name</targetReference>
            </connector>
            <label>Create Salutation?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_truncate_or_not</name>
        <label>Need to truncate or not?</label>
        <locationX>471</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Update_saluation_line_with_account_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Truncate_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountNameLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_saluation_line_with_new_truncated_account_name</targetReference>
            </connector>
            <label>Truncate Name?</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountNameLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!AccountName})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AccountNameWithoutSpace</name>
        <dataType>String</dataType>
        <expression>TRIM({!AccountName})</expression>
    </formulas>
    <formulas>
        <name>TruncatedAccountName</name>
        <dataType>String</dataType>
        <expression>LEFT({!AccountNameWithoutSpace}, 10)</expression>
    </formulas>
    <formulas>
        <name>UpdatedAccNameLen</name>
        <dataType>Number</dataType>
        <expression>Len({!UpdatedAccountName})</expression>
        <scale>2</scale>
    </formulas>
    <label>Create Salutaion Records</label>
    <loops>
        <name>Looping_Child_Saluatations</name>
        <label>Looping Child Saluatations</label>
        <locationX>270</locationX>
        <locationY>313</locationY>
        <assignNextValueToReference>sobjChildSalutation</assignNextValueToReference>
        <collectionReference>SobjColSalutations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Need_to_truncate_or_not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Saluatation_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Organization_Pref_Mail_Name_Salutation</name>
        <label>Create Organization Pref Mail Name Salutation</label>
        <locationX>373</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Create_Organization_Publication_Name_Salutation</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Use__c</field>
            <value>
                <stringValue>Outside</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truncated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Line_1__c</field>
            <value>
                <elementReference>TruncatedAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Type__c</field>
            <value>
                <stringValue>Organization Pref Mail Name</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Salutation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Organization_Pref_Mail_Name_Salutation_without_truncation</name>
        <label>Create Organization Pref Mail Name Salutation without truncation</label>
        <locationX>355</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Create_Organization_Publication_Name_Salutation_without_truncation</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Use__c</field>
            <value>
                <stringValue>Outside</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truncated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Line_1__c</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Type__c</field>
            <value>
                <stringValue>Organization Pref Mail Name</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Salutation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Organization_Publication_Name_Salutation</name>
        <label>Create Organization Publication Name Salutation</label>
        <locationX>524</locationX>
        <locationY>15</locationY>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Use__c</field>
            <value>
                <stringValue>Publication</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truncated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Line_1__c</field>
            <value>
                <elementReference>TruncatedAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Type__c</field>
            <value>
                <stringValue>Organization Publication Name</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Salutation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Organization_Publication_Name_Salutation_without_truncation</name>
        <label>Create Organization Publication Name Salutation without truncation</label>
        <locationX>524</locationX>
        <locationY>157</locationY>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Use__c</field>
            <value>
                <stringValue>Publication</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truncated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Line_1__c</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Type__c</field>
            <value>
                <stringValue>Organization Publication Name</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Salutation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_All_child_Salutations</name>
        <label>Get All child Salutations</label>
        <locationX>111</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Child_Saluatations</targetReference>
        </connector>
        <filters>
            <field>rC_Bios__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Salutation__c</object>
        <outputReference>SobjColSalutations</outputReference>
        <queriedFields>rC_Bios__Salutation_Line_1__c</queriedFields>
        <queriedFields>Truncated__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Saluatation_records</name>
        <label>Update Saluatation records</label>
        <locationX>272</locationX>
        <locationY>417</locationY>
        <inputReference>SobjColSalutations</inputReference>
    </recordUpdates>
    <startElementReference>Check_If_Need_to_truncate_Account_Name</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjChildSalutation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Salutation__c</objectType>
    </variables>
    <variables>
        <name>SobjColSalutations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Salutation__c</objectType>
    </variables>
    <variables>
        <name>UpdatedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
