src/flows/Create_BI_Action_Plans_On_Planned_Giving-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Task_Instance_To_List</name>
        <label>Add Task Instance To List</label>
        <locationX>506</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>sobjColActionPlanTaskToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjActionPlanNewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_All_Child_Task_to_Create_New_Taks_For_Action_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>291</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Action_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>actionPlanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Assigned_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Days_After__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Days_After__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Dependent_Task_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Dependent_Task_Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__IsReminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__IsReminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Parent_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Parent_Task__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Minutes_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Minutes_Reminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Send_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Send_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjActionPlanTask.rC_Bios__Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjActionPlanNewTask.rC_Bios__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Instance_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Child_Task_Exist_Or_Not</name>
        <label>Check If Child Task Exist Or Not</label>
        <locationX>283</locationX>
        <locationY>156</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Child_Task_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjCollActionPlanTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_All_Child_Task_to_Create_New_Taks_For_Action_Plan</targetReference>
            </connector>
            <label>Child Task Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Template_Exist_Or_Not</name>
        <label>Check If Template Exist Or Not</label>
        <locationX>255</locationX>
        <locationY>27</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Template_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionPlanTemplateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Action_Plan</targetReference>
            </connector>
            <label>Template Exist</label>
        </rules>
    </decisions>
    <description>This flow will create an action plan along with child tasks, according to action plan template from which action plan created.</description>
    <formulas>
        <name>actionPlanName</name>
        <dataType>String</dataType>
        <expression>{!plannedGivingName}+ &apos;-&apos;  + {!actionPlanApiName}</expression>
    </formulas>
    <label>Create BI Action Plans On Planned Giving</label>
    <loops>
        <name>Looping_All_Child_Task_to_Create_New_Taks_For_Action_Plan</name>
        <label>Looping All Child Task to Create New Taks For Action Plan</label>
        <locationX>284</locationX>
        <locationY>272</locationY>
        <assignNextValueToReference>sobjActionPlanTask</assignNextValueToReference>
        <collectionReference>sobjCollActionPlanTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Task_On_Action_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Action_Plan</name>
        <label>Create Action Plan</label>
        <locationX>484</locationX>
        <locationY>30</locationY>
        <assignRecordIdToReference>actionPlanId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_All_Child_Action_Plan_Task_On_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>actionPlanName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Action_Plan_Template__c</field>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__WhatId__c</field>
            <value>
                <elementReference>relatedToId</elementReference>
            </value>
        </inputAssignments>
        <object>rC_Bios__Action_Plan__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Task_On_Action_Plan</name>
        <label>Create Child Task On Action Plan</label>
        <locationX>554</locationX>
        <locationY>234</locationY>
        <inputReference>sobjColActionPlanTaskToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Plan_Record_Type_Id</name>
        <label>Get Action Plan Record Type Id</label>
        <locationX>90</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Action_Plan_Template</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action_Plan</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>actionPlanRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Action_Plan_Template</name>
        <label>Get Action Plan Template</label>
        <locationX>94</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Template_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionPlanTemplateName</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Action_Plan__c</object>
        <outputAssignments>
            <assignToReference>templateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Child_Action_Plan_Task_On_Template</name>
        <label>Get All Child Action Plan Task On Template</label>
        <locationX>493</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Child_Task_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>rC_Bios__Action_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>templateId</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Action_Plan_Task__c</object>
        <outputReference>sobjCollActionPlanTasks</outputReference>
        <queriedFields>rC_Bios__Subject__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>rC_Bios__Comments__c</queriedFields>
        <queriedFields>rC_Bios__Parent_Task__c</queriedFields>
        <queriedFields>rC_Bios__Days_After__c</queriedFields>
        <queriedFields>rC_Bios__Due_Date__c</queriedFields>
        <queriedFields>rC_Bios__Assigned_To__c</queriedFields>
        <queriedFields>rC_Bios__Category__c</queriedFields>
        <queriedFields>rC_Bios__Priority__c</queriedFields>
        <queriedFields>rC_Bios__Send_Email__c</queriedFields>
        <queriedFields>rC_Bios__IsReminder__c</queriedFields>
        <queriedFields>rC_Bios__Dependent_Task_Index__c</queriedFields>
        <queriedFields>rC_Bios__WhatId__c</queriedFields>
        <queriedFields>rC_Bios__Minutes_Reminder__c</queriedFields>
        <queriedFields>rC_Bios__Status__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Action_Plan_Record_Type_Id</startElementReference>
    <variables>
        <name>actionPlanApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionPlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionPlanTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>plannedGivingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjActionPlanNewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Action_Plan_Task__c</objectType>
    </variables>
    <variables>
        <name>sobjActionPlanTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Action_Plan_Task__c</objectType>
    </variables>
    <variables>
        <name>sobjColActionPlanTaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Action_Plan_Task__c</objectType>
    </variables>
    <variables>
        <name>sobjCollActionPlanTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Action_Plan_Task__c</objectType>
    </variables>
    <variables>
        <name>templateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
