src/flows/Create_Salutaion_Records-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_If_Need_to_truncate_Account_Name</name>
        <label>Check If Need to truncate Account Name?</label>
        <locationX>65</locationX>
        <locationY>101</locationY>
        <defaultConnector>
            <targetReference>Create_Organization_Pref_Mail_Name_Salutation_without_truncation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Truncate_Account_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountNameLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Organization_Pref_Mail_Name_Salutation</targetReference>
            </connector>
            <label>Truncate Account Name?</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountNameLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!AccountName})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AccountNameWithoutSpace</name>
        <dataType>String</dataType>
        <expression>TRIM({!AccountName})</expression>
    </formulas>
    <formulas>
        <name>TruncatedAccountName</name>
        <dataType>String</dataType>
        <expression>LEFT({!AccountNameWithoutSpace}, 20)</expression>
    </formulas>
    <label>Create Salutaion Records</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Organization_Pref_Mail_Name_Salutation</name>
        <label>Create Organization Pref Mail Name Salutation</label>
        <locationX>310</locationX>
        <locationY>16</locationY>
        <connector>
            <targetReference>Create_Organization_Publication_Name_Salutation</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Use__c</field>
            <value>
                <stringValue>Outside</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truncated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Line_1__c</field>
            <value>
                <elementReference>TruncatedAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Type__c</field>
            <value>
                <stringValue>Organization Pref Mail Name</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Salutation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Organization_Pref_Mail_Name_Salutation_without_truncation</name>
        <label>Create Organization Pref Mail Name Salutation without truncation</label>
        <locationX>213</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Create_Organization_Publication_Name_Salutation_without_truncation</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Use__c</field>
            <value>
                <stringValue>Outside</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truncated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Line_1__c</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Type__c</field>
            <value>
                <stringValue>Organization Pref Mail Name</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Salutation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Organization_Publication_Name_Salutation</name>
        <label>Create Organization Publication Name Salutation</label>
        <locationX>480</locationX>
        <locationY>75</locationY>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Use__c</field>
            <value>
                <stringValue>Publication</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truncated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Line_1__c</field>
            <value>
                <elementReference>TruncatedAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Type__c</field>
            <value>
                <stringValue>Organization Publication Name</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Salutation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Organization_Publication_Name_Salutation_without_truncation</name>
        <label>Create Organization Publication Name Salutation without truncation</label>
        <locationX>479</locationX>
        <locationY>221</locationY>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Override__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation_Use__c</field>
            <value>
                <stringValue>Publication</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truncated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Line_1__c</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Salutation_Type__c</field>
            <value>
                <stringValue>Organization Publication Name</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Salutation__c</object>
    </recordCreates>
    <startElementReference>Check_If_Need_to_truncate_Account_Name</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
