src/flows/Create_Entity_Subscription_Record-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>If_Any_Record_Found_or_Not</name>
        <label>If Any Record Found or Not</label>
        <locationX>564</locationX>
        <locationY>265</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Entity_Subcription_Record</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Record</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Created_or_Deleted_Entity_Subscription</name>
        <label>If Created or Deleted Entity Subscription</label>
        <locationX>272</locationX>
        <locationY>3</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Delete_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Entity_Subscription_Record</targetReference>
            </connector>
            <label>Delete Record</label>
        </rules>
        <rules>
            <name>Check_Record_Exists_or_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Record</targetReference>
            </connector>
            <label>Check Record Exists or Not</label>
        </rules>
    </decisions>
    <label>Create Entity Subscription Record</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Entity_Subcription_Record</name>
        <label>Create Entity Subcription Record</label>
        <locationX>754</locationX>
        <locationY>405</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>SubcriberId</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Record</name>
        <label>Delete Existing Record</label>
        <locationX>439</locationX>
        <locationY>415</locationY>
        <connector>
            <targetReference>Create_Entity_Subcription_Record</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubcriberId</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Entity_Subscription_Record</name>
        <label>Remove Entity Subscription Record</label>
        <locationX>149</locationX>
        <locationY>230</locationY>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubcriberId</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
    </recordDeletes>
    <recordLookups>
        <name>Check_Existing_Record</name>
        <label>Check Existing Record</label>
        <locationX>436</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Any_Record_Found_or_Not</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubcriberId</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
        <outputReference>RecordExists</outputReference>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>SubscriberId</queriedFields>
    </recordLookups>
    <startElementReference>If_Created_or_Deleted_Entity_Subscription</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CreateOrDelete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FollowerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordExists</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SubcriberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
