src/flows/Create_Default_Consitutuent_Type-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Household</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Household</stringValue>
        </value>
    </constants>
    <constants>
        <name>Organizational</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Organizational</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Default_Constituent_Type</name>
        <label>Create Default Constituent Type</label>
        <locationX>237</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Default_Household_Constituent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Household</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Friend_Constituent_Type</targetReference>
            </connector>
            <label>Default Household Constituent</label>
        </rules>
        <rules>
            <name>Default_Organization_Constituent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Organizational</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Corporation_Constituent_Type</targetReference>
            </connector>
            <label>Default Organization Constituent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Constituent_Type_Exist</name>
        <label>Does Constituent Type Exist</label>
        <locationX>210</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Constituent_Type_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConstituentTypes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Default_Constituent_Type</targetReference>
            </connector>
            <label>Constituent Type Does Not Exist</label>
        </rules>
    </decisions>
    <label>Create Default Consitutuent Type</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Corporation_Constituent_Type</name>
        <label>Create Corporation Constituent Type</label>
        <locationX>235</locationX>
        <locationY>521</locationY>
        <inputAssignments>
            <field>rC_Bios__Category__c</field>
            <value>
                <stringValue>Constituent Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Subcategory__c</field>
            <value>
                <stringValue>Corporation</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Preference__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Friend_Constituent_Type</name>
        <label>Create Friend Constituent Type</label>
        <locationX>583</locationX>
        <locationY>376</locationY>
        <inputAssignments>
            <field>rC_Bios__Category__c</field>
            <value>
                <stringValue>Constituent Type</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Contact__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Bios__Subcategory__c</field>
            <value>
                <stringValue>Friend</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Preference__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Preferences_for_Contact</name>
        <label>Get Preferences for Contact</label>
        <locationX>205</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Constituent_Type_Exist</targetReference>
        </connector>
        <filters>
            <field>rC_Bios__Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Constituent Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>rC_Bios__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Preference__c</object>
        <outputReference>ConstituentTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rC_Bios__Category__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Preferences_for_Contact</startElementReference>
    <variables>
        <name>ConstituentTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Preference__c</objectType>
    </variables>
    <variables>
        <description>Contact To Check</description>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
