src/flows/Create_Communication_On_Contact-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_If_Both_Email_and_Fax_Update_or_Only_Fax_Or_Email_Updated</name>
        <label>Check If Both Email and Fax Update or Only Fax Or Email Updated?</label>
        <locationX>351</locationX>
        <locationY>29</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Both_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FaxAndEmailUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fax_Record_When_Both_Fax_and_Email_Updated</targetReference>
            </connector>
            <label>Both Updated</label>
        </rules>
        <rules>
            <name>Fax_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FaxUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Communication</targetReference>
            </connector>
            <label>Fax Updated</label>
        </rules>
        <rules>
            <name>Email_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Email_Record</targetReference>
            </connector>
            <label>Email Updated</label>
        </rules>
    </decisions>
    <label>Create Communication On Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Communication</name>
        <label>Create Child Communication</label>
        <locationX>185</locationX>
        <locationY>193</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PhoneRecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Phone__c</field>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Type__c</field>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Record</name>
        <label>Create Email Record</label>
        <locationX>457</locationX>
        <locationY>203</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EmailRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Email__c</field>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Type__c</field>
            <value>
                <elementReference>TypeForEmail</elementReference>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Record_When_both_Fax_and_Email_Updated</name>
        <label>Create Email Record When both Fax and Email Updated</label>
        <locationX>680</locationX>
        <locationY>32</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EmailRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Email__c</field>
            <value>
                <elementReference>EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Type__c</field>
            <value>
                <elementReference>TypeForEmail</elementReference>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Fax_Record_When_Both_Fax_and_Email_Updated</name>
        <label>Create Fax Record When Both Fax and Email Updated</label>
        <locationX>522</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>Create_Email_Record_When_both_Fax_and_Email_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PhoneRecordtypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Phone__c</field>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rC_Education__Type__c</field>
            <value>
                <stringValue>Fax</stringValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_type</name>
        <label>Get Record type</label>
        <locationX>37</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_type_Id_For_Email</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PhoneRecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_type_Id_For_Email</name>
        <label>Get Record type Id For Email</label>
        <locationX>202</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Both_Email_and_Fax_Update_or_Only_Fax_Or_Email_Updated</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rC_Education__Communication_Method__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EmailRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Record_type</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaxAndEmailUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaxUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeForEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
