src/flows/Deactivate_Communication_Method-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_CM_To_List_To_Update</name>
        <label>Add CM To List To Update</label>
        <locationX>834</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>sobjCollCommMethodToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjColCommMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lopping_Communication_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Email_Work</name>
        <label>Clear Email Work</label>
        <locationX>577</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.rC_Bios__Work_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Fax</name>
        <label>Clear Fax</label>
        <locationX>240</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.Fax</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_GSB</name>
        <label>Clear GSB</label>
        <locationX>526</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.GSB__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Home_Phone</name>
        <label>Clear Home Phone</label>
        <locationX>1</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.HomePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Email</name>
        <label>Clear Other Email</label>
        <locationX>373</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.rC_Bios__Other_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Phone</name>
        <label>Clear Other Phone</label>
        <locationX>369</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.OtherPhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_SAA</name>
        <label>Clear SAA</label>
        <locationX>452</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.SAA__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Work_Phone</name>
        <label>Clear Work Phone</label>
        <locationX>99</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.rC_Bios__Work_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearEmailHome</name>
        <label>Clear Email Home</label>
        <locationX>273</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>sobjContact.rC_Bios__Home_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_Communication_Method</name>
        <label>Deactivate Communication Method</label>
        <locationX>672</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>sobjColCommMethod.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CM_To_List_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_CM_Activated_OR_Deactivated</name>
        <label>Check If CM Activated OR Deactivated?</label>
        <locationX>11</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CM_Preferred_Flag_To_True</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDeactivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Preferred_Flag_to_False</targetReference>
            </connector>
            <label>Deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Communication_Method_Exist_Or_Not</name>
        <label>Check If Communication Method Exist Or Not?</label>
        <locationX>718</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Communication_Method_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjColCommunicationMethodList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lopping_Communication_Method</targetReference>
            </connector>
            <label>Communication Method Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Record_Type_Is_Email_Or_Phone</name>
        <label>Check If Record Type Is Email Or Phone?</label>
        <locationX>260</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Email_Communication_Method</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Phone_Communcation_Method_Records</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>154</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Type_Of_CM</targetReference>
            </connector>
            <label>Email RT</label>
        </rules>
        <rules>
            <name>Phone_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Type_Of_CM_For_Phone</targetReference>
            </connector>
            <label>Phone RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Of_CM</name>
        <label>Check Type Of CM</label>
        <locationX>331</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearEmailHome</targetReference>
            </connector>
            <label>Home</label>
        </rules>
        <rules>
            <name>Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Email_Work</targetReference>
            </connector>
            <label>Work</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Other_Email</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>SAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_SAA</targetReference>
            </connector>
            <label>SAA</label>
        </rules>
        <rules>
            <name>GSB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_GSB</targetReference>
            </connector>
            <label>GSB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Of_CM_For_Phone</name>
        <label>Check Type Of CM For Phone</label>
        <locationX>0</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Home_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Home_Phone</targetReference>
            </connector>
            <label>Home_Phone</label>
        </rules>
        <rules>
            <name>Work_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Phone</targetReference>
            </connector>
            <label>Work_Phone</label>
        </rules>
        <rules>
            <name>Other_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Other_Phone</targetReference>
            </connector>
            <label>Other_Phone</label>
        </rules>
        <rules>
            <name>Fax_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Fax</targetReference>
            </connector>
            <label>Fax_Phone</label>
        </rules>
    </decisions>
    <label>Deactivate Communication Method</label>
    <loops>
        <name>Lopping_Communication_Method</name>
        <label>Lopping Communication Method</label>
        <locationX>717</locationX>
        <locationY>134</locationY>
        <assignNextValueToReference>sobjColCommMethod</assignNextValueToReference>
        <collectionReference>sobjColCommunicationMethodList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivate_Communication_Method</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Communication_Method</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Email_Communication_Method</name>
        <label>Get All Email Communication Method</label>
        <locationX>403</locationX>
        <locationY>5</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Communication_Method_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>rC_Education__Communication_Method__c</object>
        <outputReference>sobjColCommunicationMethodList</outputReference>
        <queriedFields>Active__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>156</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>sobjContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Record_Type_Id</name>
        <label>Get Email Record Type Id</label>
        <locationX>17</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Phone_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EmailRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Communcation_Method_Records</name>
        <label>Get Phone Communcation Method Records</label>
        <locationX>485</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Communication_Method_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>rC_Education__Communication_Method__c</object>
        <outputReference>sobjColCommunicationMethodList</outputReference>
        <queriedFields>Active__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Record_Type_Id</name>
        <label>Get Phone Record Type Id</label>
        <locationX>14</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_CM_Activated_OR_Deactivated</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PhoneRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CM_Preferred_Flag_To_True</name>
        <label>Update CM Preferred Flag To True</label>
        <locationX>194</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>Check_If_Record_Type_Is_Email_Or_Phone</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Communication_Method</name>
        <label>Update Communication Method</label>
        <locationX>880</locationX>
        <locationY>148</locationY>
        <inputReference>sobjCollCommMethodToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>768</locationX>
        <locationY>533</locationY>
        <inputReference>sobjContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Preferred_Flag_to_False</name>
        <label>Update Preferred Flag to False</label>
        <locationX>9</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordUpdates>
    <startElementReference>Get_Email_Record_Type_Id</startElementReference>
    <variables>
        <name>CommunicationMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActivated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsDeactivated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjColCommMethod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
    <variables>
        <name>sobjColCommunicationMethodList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
    <variables>
        <name>sobjCollCommMethodToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
    <variables>
        <name>sobjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
