src/flows/Deactivate_Communication_Method-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_CM_To_List_To_Update</name>
        <label>Add CM To List To Update</label>
        <locationX>586</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>sobjCollCommMethodToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjColCommMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lopping_Communication_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_Communication_Method</name>
        <label>Deactivate Communication Method</label>
        <locationX>442</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>sobjColCommMethod.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjColCommMethod.rC_Education__Preferred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CM_To_List_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Communication_Method_Exist_Or_Not</name>
        <label>Check If Communication Method Exist Or Not?</label>
        <locationX>439</locationX>
        <locationY>26</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Communication_Method_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjColCommunicationMethodList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lopping_Communication_Method</targetReference>
            </connector>
            <label>Communication Method Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Record_Type_Is_Email_Or_Phone</name>
        <label>Check If Record Type Is Email Or Phone?</label>
        <locationX>186</locationX>
        <locationY>133</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Email_Communication_Method</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Phone_Communcation_Method_Records</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <label>Deactivate Communication Method</label>
    <loops>
        <name>Lopping_Communication_Method</name>
        <label>Lopping Communication Method</label>
        <locationX>486</locationX>
        <locationY>179</locationY>
        <assignNextValueToReference>sobjColCommMethod</assignNextValueToReference>
        <collectionReference>sobjColCommunicationMethodList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivate_Communication_Method</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Communication_Method</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Email_Communication_Method</name>
        <label>Get All Email Communication Method</label>
        <locationX>295</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Communication_Method_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>rC_Education__Communication_Method__c</object>
        <outputReference>sobjColCommunicationMethodList</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>rC_Education__Preferred__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Record_Type_Id</name>
        <label>Get Email Record Type Id</label>
        <locationX>21</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Phone_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EmailRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Communcation_Method_Records</name>
        <label>Get Phone Communcation Method Records</label>
        <locationX>243</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Communication_Method_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>rC_Education__Communication_Method__c</object>
        <outputReference>sobjColCommunicationMethodList</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>rC_Education__Preferred__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Record_Type_Id</name>
        <label>Get Phone Record Type Id</label>
        <locationX>21</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CM_Preferred_Flag</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PhoneRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CM_Preferred_Flag</name>
        <label>Update CM Preferred Flag</label>
        <locationX>163</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Check_If_Record_Type_Is_Email_Or_Phone</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Communication_Method</name>
        <label>Update Communication Method</label>
        <locationX>686</locationX>
        <locationY>174</locationY>
        <inputReference>sobjCollCommMethodToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Email_Record_Type_Id</startElementReference>
    <variables>
        <name>CommunicationMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjColCommMethod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
    <variables>
        <name>sobjColCommunicationMethodList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
    <variables>
        <name>sobjCollCommMethodToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
</Flow>
