src/flows/Deactivate_Communication_Method-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_CM_To_List_To_Update</name>
        <label>Add CM To List To Update</label>
        <locationX>699</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>sobjCollCommMethodToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjColCommMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lopping_Communication_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Fax</name>
        <label>Clear Fax</label>
        <locationX>266</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.Fax</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_GSB</name>
        <label>Clear GSB</label>
        <locationX>772</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.GSB__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Home_Email</name>
        <label>Clear Home Email</label>
        <locationX>334</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.rC_Bios__Home_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Home_Phone</name>
        <label>Clear Home Phone</label>
        <locationX>3</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.HomePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Mobile_Phone</name>
        <label>Clear Mobile Phone</label>
        <locationX>35</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Email</name>
        <label>Clear Other Email</label>
        <locationX>582</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.rC_Bios__Other_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Other_Phone</name>
        <label>Clear Other Phone</label>
        <locationX>159</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.OtherPhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_SAA</name>
        <label>Clear SAA</label>
        <locationX>718</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.SAA__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Work_Email</name>
        <label>Clear Work Email</label>
        <locationX>446</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.rC_Bios__Work_Email__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Work_Phone</name>
        <label>Clear Work Phone</label>
        <locationX>327</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>ParentContact.rC_Bios__Work_Phone__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_Communication_Method</name>
        <label>Deactivate Communication Method</label>
        <locationX>534</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>sobjColCommMethod.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjColCommMethod.rC_Education__Preferred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CM_To_List_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_CM_Activated_Or_Deactivated</name>
        <label>Check If CM Activated Or Deactivated?</label>
        <locationX>38</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDeactivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CM_Preferred_Flag</targetReference>
            </connector>
            <label>Activated?</label>
        </rules>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsDeactivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Details</targetReference>
            </connector>
            <label>Deactivated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Communication_Method_Exist_Or_Not</name>
        <label>Check If Communication Method Exist Or Not?</label>
        <locationX>439</locationX>
        <locationY>26</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Communication_Method_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjColCommunicationMethodList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lopping_Communication_Method</targetReference>
            </connector>
            <label>Communication Method Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Record_Type_Is_Email_Or_Phone</name>
        <label>Check If Record Type Is Email Or Phone?</label>
        <locationX>199</locationX>
        <locationY>140</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Email_Communication_Method</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Phone_Communcation_Method_Records</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Of_CM</name>
        <label>Check Type Of CM</label>
        <locationX>239</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_Of_Email_CM_Record</targetReference>
            </connector>
            <label>IsEmail</label>
        </rules>
        <rules>
            <name>IsPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_Of_Phone_CM</targetReference>
            </connector>
            <label>IsPhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Of_Email_CM_Record</name>
        <label>Type Of Email CM Record</label>
        <locationX>550</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Home_Email</targetReference>
            </connector>
            <label>Email_Home</label>
        </rules>
        <rules>
            <name>Email_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Email</targetReference>
            </connector>
            <label>Email_Work</label>
        </rules>
        <rules>
            <name>Email_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Other_Email</targetReference>
            </connector>
            <label>Email_Other</label>
        </rules>
        <rules>
            <name>GSB_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_GSB</targetReference>
            </connector>
            <label>GSB_Email</label>
        </rules>
        <rules>
            <name>SAA_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_SAA</targetReference>
            </connector>
            <label>SAA_Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Of_Phone_CM</name>
        <label>Type Of Phone CM</label>
        <locationX>195</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Phone_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Home_Phone</targetReference>
            </connector>
            <label>Phone_Home</label>
        </rules>
        <rules>
            <name>Phone_Fax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Fax</targetReference>
            </connector>
            <label>Phone_Fax</label>
        </rules>
        <rules>
            <name>Phone_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Other_Phone</targetReference>
            </connector>
            <label>Phone_Other</label>
        </rules>
        <rules>
            <name>Phone_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Mobile_Phone</targetReference>
            </connector>
            <label>Phone_Mobile</label>
        </rules>
        <rules>
            <name>Phone_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Work_Phone</targetReference>
            </connector>
            <label>Phone_Work</label>
        </rules>
    </decisions>
    <label>Deactivate Communication Method</label>
    <loops>
        <name>Lopping_Communication_Method</name>
        <label>Lopping Communication Method</label>
        <locationX>645</locationX>
        <locationY>98</locationY>
        <assignNextValueToReference>sobjColCommMethod</assignNextValueToReference>
        <collectionReference>sobjColCommunicationMethodList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivate_Communication_Method</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Communication_Method</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Email_Communication_Method</name>
        <label>Get All Email Communication Method</label>
        <locationX>295</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Communication_Method_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </filters>
        <object>rC_Education__Communication_Method__c</object>
        <outputReference>sobjColCommunicationMethodList</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>rC_Education__Preferred__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>19</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Type_Of_CM</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ParentContact</outputReference>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>OtherPhone</queriedFields>
        <queriedFields>rC_Bios__Work_Phone__c</queriedFields>
        <queriedFields>Fax</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>rC_Bios__Home_Email__c</queriedFields>
        <queriedFields>rC_Bios__Other_Email__c</queriedFields>
        <queriedFields>rC_Bios__Work_Email__c</queriedFields>
        <queriedFields>SAA__c</queriedFields>
        <queriedFields>GSB__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Record_Type_Id</name>
        <label>Get Email Record Type Id</label>
        <locationX>21</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Phone_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EmailRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Communcation_Method_Records</name>
        <label>Get Phone Communcation Method Records</label>
        <locationX>359</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Communication_Method_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </filters>
        <object>rC_Education__Communication_Method__c</object>
        <outputReference>sobjColCommunicationMethodList</outputReference>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>rC_Education__Preferred__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Phone_Record_Type_Id</name>
        <label>Get Phone Record Type Id</label>
        <locationX>13</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_CM_Activated_Or_Deactivated</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PhoneRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_CM_Preferred_Flag</name>
        <label>Update CM Preferred Flag</label>
        <locationX>163</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Check_If_Record_Type_Is_Email_Or_Phone</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunicationMethodId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Education__Preferred__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Education__Communication_Method__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Communication_Method</name>
        <label>Update Communication Method</label>
        <locationX>817</locationX>
        <locationY>12</locationY>
        <inputReference>sobjCollCommMethodToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>387</locationX>
        <locationY>649</locationY>
        <inputReference>ParentContact</inputReference>
    </recordUpdates>
    <startElementReference>Get_Email_Record_Type_Id</startElementReference>
    <variables>
        <name>CommunicationMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fax_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Home_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsDeactivated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PhoneRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjColCommMethod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
    <variables>
        <name>sobjColCommunicationMethodList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
    <variables>
        <name>sobjCollCommMethodToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Communication_Method__c</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
