src/flows/Deactivate_Child_Team_Members-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Updated_Team_Member_Records</name>
        <label>Add Updated Team Member Records</label>
        <locationX>568</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>sobjColUpdatedTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reason</name>
        <label>Assign Reason</label>
        <locationX>386</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>sobjTeamMember.Assignment_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjTeamMember.rC_Bios__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjTeamMember.Assignment_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignmentComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Team_Member_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Team_Member_Exist_Or_Not</name>
        <label>Check If Team Member Exist Or Not</label>
        <locationX>186</locationX>
        <locationY>44</locationY>
        <defaultConnectorLabel>Team Member Not Exist</defaultConnectorLabel>
        <rules>
            <name>Team_Member_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjColTeamMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Team_Members</targetReference>
            </connector>
            <label>Team Member Exist</label>
        </rules>
    </decisions>
    <label>Deactivate Child Team Members V2</label>
    <loops>
        <name>Looping_Team_Members</name>
        <label>Looping Team Members</label>
        <locationX>448</locationX>
        <locationY>14</locationY>
        <assignNextValueToReference>sobjTeamMember</assignNextValueToReference>
        <collectionReference>sobjColTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Entity_Subscription_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_End_Date_On_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Entity_Subscription</name>
        <label>Delete Entity Subscription</label>
        <locationX>158</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Assign_Reason</targetReference>
        </connector>
        <inputReference>SubscriptionToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Entity_Subscription_List</name>
        <label>Entity Subscription List</label>
        <locationX>211</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Entity_Subscription</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjTeamMember.Id</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
        <outputReference>SubscriptionToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members</name>
        <label>Get Team Members</label>
        <locationX>55</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Team_Member_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>rC_Education__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamId</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Relationship__c</object>
        <outputReference>sobjColTeamMembers</outputReference>
        <queriedFields>rC_Bios__Active__c</queriedFields>
        <queriedFields>Assignment_Reason__c</queriedFields>
        <queriedFields>Assignment_Comments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Team_Members</name>
        <label>Update Child Team Members</label>
        <locationX>658</locationX>
        <locationY>134</locationY>
        <inputReference>sobjColUpdatedTeamMembers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_End_Date_On_Team</name>
        <label>Update End Date On Team</label>
        <locationX>654</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Update_Child_Team_Members</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Education__End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>rC_Education__Team__c</object>
    </recordUpdates>
    <startElementReference>Get_Team_Members</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignmentComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SobjColActiveTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Team__c</objectType>
    </variables>
    <variables>
        <name>sobjColTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>sobjColUpdatedTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>sobjTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <name>TeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
