src/flows/Entity_Subscription_For_Relationships-14.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_If_User_Exist_On_Some_Other_Active_Team</name>
        <label>Check If User Exist On Some Other Active Team ?</label>
        <locationX>357</locationX>
        <locationY>569</locationY>
        <actionName>CheckSubscriberExistOnOtherTeam</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Same_Subscriber_Not_Exist_On_Parent</targetReference>
        </connector>
        <inputParameters>
            <name>activeParentTeamList</name>
            <value>
                <elementReference>activeTeamList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscriberId</name>
            <value>
                <elementReference>subscriberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>teamMemberId</name>
            <value>
                <elementReference>teamMemberId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ListOfTeamMemberWithSameUser</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Account_Id_For_Delete</name>
        <label>Assign Account Id For Delete</label>
        <locationX>393</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>parentDel_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Active_Teams_With_Account_As_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id_to_Delete</name>
        <label>Assign Contact Id to Delete</label>
        <locationX>568</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>parentDel_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Active_Team_With_Contact_as_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Parent</name>
        <label>Assign Contact to Parent</label>
        <locationX>876</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>parentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Entity_Subscription_On_parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent</name>
        <label>Assign Account - Parent</label>
        <locationX>576</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>parentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Entity_Subscription_On_parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Value_Account_Team</name>
        <label>Assign RT Value Account_Team</label>
        <locationX>274</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>teamRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account_Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>team.rC_Education__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Relationship_Created_Or_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Value_Contact_Team</name>
        <label>Assign RT Value Contact Team</label>
        <locationX>114</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>teamRecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Team</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>team.rC_Education__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Relationship_Created_Or_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Team_Id</name>
        <label>Assign Team Id</label>
        <locationX>172</locationX>
        <locationY>96</locationY>
        <assignmentItems>
            <assignToReference>tempTeamid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>teamId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Flags</name>
        <label>Reassign Flags</label>
        <locationX>884</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>isTeamUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempTeamid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTeamId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Detail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Duplicate_Record</name>
        <label>Check Duplicate Record</label>
        <locationX>588</locationX>
        <locationY>191</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ES_Already_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldESList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Entity_Subscription</targetReference>
            </connector>
            <label>ES Already Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Entity_Subscription_Exist_Or_Not</name>
        <label>Check Entity Subscription Exist Or Not</label>
        <locationX>726</locationX>
        <locationY>466</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ES_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>entitySubscriptionList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_ES_Records</targetReference>
            </connector>
            <label>ES Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Active_Team_Exist</name>
        <label>Check If Active Team Exist?</label>
        <locationX>429</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>Get_All_Entity_Subscription_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Active_Team_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>activeTeamList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_User_Exist_On_Some_Other_Active_Team</targetReference>
            </connector>
            <label>Active Team Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Parent_Is_Account_Or_Contact</name>
        <label>Check If Parent Is Account Or Contact</label>
        <locationX>698</locationX>
        <locationY>5</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Parent_Is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent</targetReference>
            </connector>
            <label>Parent Is Account</label>
        </rules>
        <rules>
            <name>Parent_Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_to_Parent</targetReference>
            </connector>
            <label>Parent Is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Relationship_Created_Or_Updated</name>
        <label>Check If Relationship Created Or Updated?</label>
        <locationX>419</locationX>
        <locationY>13</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Relationship_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Parent_Is_Account_Or_Contact</targetReference>
            </connector>
            <label>New Relationship Created</label>
        </rules>
        <rules>
            <name>Relationship_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_Of_Parent_Team</targetReference>
            </connector>
            <label>Relationship Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Team_Exist</name>
        <label>Check If Team Exist?</label>
        <locationX>13</locationX>
        <locationY>368</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Team_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_Of_Team</targetReference>
            </connector>
            <label>Team Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Team_Updated_Or_Not</name>
        <label>Check If Team Updated Or Not ?</label>
        <locationX>185</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Team_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTeamUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTeamId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Team_Record_Type_Id</targetReference>
            </connector>
            <label>Team Updated</label>
        </rules>
        <rules>
            <name>Team_Not_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTeamUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Relationship_Created_Or_Updated</targetReference>
            </connector>
            <label>Team Not Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_Of_Parent_Team</name>
        <label>Check Record Type Of Parent Team</label>
        <locationX>419</locationX>
        <locationY>171</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subscriberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id_For_Delete</targetReference>
            </connector>
            <label>Account Team</label>
        </rules>
        <rules>
            <name>Contact_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subscriberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Id_to_Delete</targetReference>
            </connector>
            <label>Contact Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_Of_Team</name>
        <label>Check Record Type Of Team</label>
        <locationX>170</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>Check_If_Relationship_Created_Or_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_TeamRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>team.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ATRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RT_Value_Account_Team</targetReference>
            </connector>
            <label>Account_TeamRT</label>
        </rules>
        <rules>
            <name>Contact_TeamRT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>team.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CTRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_RT_Value_Contact_Team</targetReference>
            </connector>
            <label>Contact_TeamRT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Team_Updated</name>
        <label>Is Team Updated?</label>
        <locationX>955</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Team_Updated_CR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isTeamUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Flags</targetReference>
            </connector>
            <label>Team Updated-CR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Subscriber_Not_Exist_On_Parent</name>
        <label>Same Subscriber Not Exist On Parent?</label>
        <locationX>584</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Subscriber_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfTeamMemberWithSameUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Entity_Subscription_Records</targetReference>
            </connector>
            <label>Subscriber Not Exist</label>
        </rules>
    </decisions>
    <label>Entity Subscription For Relationships</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Entity_Subscription</name>
        <label>Create Entity Subscription</label>
        <locationX>849</locationX>
        <locationY>202</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>subscriberId</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Related_ES_Records</name>
        <label>Delete Related ES Records</label>
        <locationX>783</locationX>
        <locationY>337</locationY>
        <connector>
            <targetReference>Is_Team_Updated</targetReference>
        </connector>
        <inputReference>entitySubscriptionList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Team_Record_Type_Id</name>
        <label>Get Account Team Record Type Id</label>
        <locationX>6</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Team_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account_Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rC_Education__Team__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ATRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Team_With_Contact_as_Parent</name>
        <label>Get All Active Team With Contact as Parent</label>
        <locationX>552</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Active_Team_Exist</targetReference>
        </connector>
        <filters>
            <field>rC_Education__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentDel_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>rC_Education__Team__c</object>
        <outputReference>activeTeamList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rC_Education__Contact__c</queriedFields>
        <queriedFields>rC_Education__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Active_Teams_With_Account_As_Parent</name>
        <label>Get All Active Teams With Account As Parent</label>
        <locationX>411</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Active_Team_Exist</targetReference>
        </connector>
        <filters>
            <field>rC_Education__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentDel_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>rC_Education__Team__c</object>
        <outputReference>activeTeamList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rC_Education__Status__c</queriedFields>
        <queriedFields>rC_Education__Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Entity_Subscription_Records</name>
        <label>Get All Entity Subscription Records</label>
        <locationX>645</locationX>
        <locationY>579</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Entity_Subscription_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentDel_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subscriberId</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
        <outputReference>entitySubscriptionList</outputReference>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>SubscriberId</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Team_Record_Type_Id</name>
        <label>Get Contact Team Record Type Id</label>
        <locationX>0</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Team_Record_Type_Id</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact_Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>rC_Education__Team__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CTRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Entity_Subscription_On_parent</name>
        <label>Get Entity Subscription On parent</label>
        <locationX>720</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Duplicate_Record</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subscriberId</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
        <outputReference>OldESList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>SubscriberId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Detail</name>
        <label>Get Team Details</label>
        <locationX>13</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Team_Exist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tempTeamid</elementReference>
            </value>
        </filters>
        <object>rC_Education__Team__c</object>
        <outputAssignments>
            <assignToReference>team.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>team.rC_Education__Account__c</assignToReference>
            <field>rC_Education__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>team.rC_Education__Contact__c</assignToReference>
            <field>rC_Education__Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Check_If_Team_Updated_Or_Not</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>activeTeamList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Team__c</objectType>
    </variables>
    <variables>
        <name>ATRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CTRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>entitySubscriptionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <name>isCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isTeamUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListOfTeamMemberWithSameUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>newTeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldESList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <name>parentDel_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>subscriberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>team</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Team__c</objectType>
    </variables>
    <variables>
        <name>teamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>tempTeamid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
