src/flows/Entity_Subscription_For_Relationships-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contact_to_Parent</name>
        <label>Assign Contact to Parent</label>
        <locationX>465</locationX>
        <locationY>125</locationY>
        <assignmentItems>
            <assignToReference>parentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Entity_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent</name>
        <label>Assign Account - Parent</label>
        <locationX>213</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>parentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Entity_Subscription</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Parent_Is_Account_Or_Contact</name>
        <label>Check If Parent Is Account Or Contact</label>
        <locationX>335</locationX>
        <locationY>2</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Parent_Is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent</targetReference>
            </connector>
            <label>Parent Is Account</label>
        </rules>
        <rules>
            <name>Parent_Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>teamRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_to_Parent</targetReference>
            </connector>
            <label>Parent Is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Relationship_Created_Or_Updated</name>
        <label>Check If Relationship Created Or Updated?</label>
        <locationX>26</locationX>
        <locationY>102</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Relationship_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Parent_Is_Account_Or_Contact</targetReference>
            </connector>
            <label>New Relationship Created</label>
        </rules>
        <rules>
            <name>Relationship_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Relationship Updated</label>
        </rules>
    </decisions>
    <label>Entity Subscription For Relationships</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Entity_Subscription</name>
        <label>Create Entity Subscription</label>
        <locationX>345</locationX>
        <locationY>228</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>subscriberId</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
    </recordCreates>
    <startElementReference>Check_If_Relationship_Created_Or_Updated</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>isCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscriberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>teamRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
