src/flows/Life_Event_POC-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Spouse_ID</name>
        <label>Assign Spouse ID</label>
        <locationX>711</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>SpouseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactSearch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Changes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Create_New_Address</name>
        <choiceText>Create New Address</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Create_New_Contact</name>
        <choiceText>Create New Contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Decease</name>
        <choiceText>Decease</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Divorce</name>
        <choiceText>Divorce</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Do_Nothing</name>
        <choiceText>Do Nothing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Marriage</name>
        <choiceText>Marriage</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>Spouse_Exists</name>
        <label>Spouse Exists?</label>
        <locationX>571</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Spouse_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpouseSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactSearch</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Spouse_ID</targetReference>
            </connector>
            <label>Spouse Selected</label>
        </rules>
        <rules>
            <name>New_Contact_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpouseSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Info</targetReference>
            </connector>
            <label>New Contact Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Life_Event</name>
        <label>What Life Event</label>
        <locationX>197</locationX>
        <locationY>87</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Marriage_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Marriage</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Spouse</targetReference>
            </connector>
            <label>Marriage Event</label>
        </rules>
        <rules>
            <name>Divorce_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Divorce</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Change_for_Contact_A</targetReference>
            </connector>
            <label>Divorce Event</label>
        </rules>
        <rules>
            <name>Decease_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Decease</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <elementReference>Decease</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Death_Event</targetReference>
            </connector>
            <label>Decease Event</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ContactMailingAddress</name>
        <dataType>String</dataType>
        <displayField>MailingAddress</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SpouseID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>MailingAddress</assignToReference>
            <field>MailingAddress</field>
        </outputAssignments>
        <valueField>MailingAddress</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactSearch</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Spouse_Full_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SpouseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
    </dynamicChoiceSets>
    <label>Life Event POC</label>
    <processType>Flow</processType>
    <screens>
        <name>Address_Changes</name>
        <label>Address Changes</label>
        <locationX>708</locationX>
        <locationY>534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Address_Options</name>
            <choiceReferences>ContactMailingAddress</choiceReferences>
            <choiceReferences>Create_New_Address</choiceReferences>
            <choiceReferences>Do_Nothing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Find_Spouse</name>
        <label>Find Spouse</label>
        <locationX>413</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Select_Spouse</targetReference>
        </connector>
        <fields>
            <name>Spouse_Full_Name</name>
            <dataType>String</dataType>
            <fieldText>Spouse Full Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>451</locationX>
        <locationY>386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Middle_Name</name>
            <dataType>String</dataType>
            <fieldText>Middle Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GenderSelection</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Life_Event</name>
        <label>Life Event</label>
        <locationX>40</locationX>
        <locationY>83</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>What_Life_Event</targetReference>
        </connector>
        <fields>
            <name>LifeEvent</name>
            <choiceReferences>Marriage</choiceReferences>
            <choiceReferences>Divorce</choiceReferences>
            <choiceReferences>Decease</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Select Life Event</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_Spouse</name>
        <label>Select Spouse</label>
        <locationX>573</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Spouse_Exists</targetReference>
        </connector>
        <fields>
            <name>SpouseSelection</name>
            <choiceReferences>ContactSearch</choiceReferences>
            <choiceReferences>Create_New_Contact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Spouse</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Life_Event</startElementReference>
    <steps>
        <name>Address_Change_for_Contact_A</name>
        <label>Address Change for Contact A</label>
        <locationX>78</locationX>
        <locationY>261</locationY>
    </steps>
    <steps>
        <name>Death_Event</name>
        <label>Death Event</label>
        <locationX>277</locationX>
        <locationY>266</locationY>
    </steps>
    <variables>
        <name>ContactAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Contact_Address__c</objectType>
    </variables>
    <variables>
        <name>MailingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpouseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpouseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
