src/flows/Populate_Has_Hierarchy_On_Account-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>716</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oldParentValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Account_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Id_To_Update</name>
        <label>Update Account Id To Update</label>
        <locationX>699</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Account_Is_Parent_Of_Other_Account</name>
        <label>Check If Account Is Parent Of Other Account</label>
        <locationX>457</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_Is_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsParent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Has_Hierarchy_On_Account</targetReference>
            </connector>
            <label>Account Is Parent</label>
        </rules>
        <rules>
            <name>Account_Is_Not_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsParent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Has_Hierechy_On_Account_To_False</targetReference>
            </connector>
            <label>Account Is Not Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Hierarchy_Exist_On_Account_Or_Not</name>
        <label>Check If Hierarchy Exist On Account Or Not</label>
        <locationX>48</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Hierarchy_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Has_Hierarchy_On_Parent_Account</targetReference>
            </connector>
            <label>Hierarchy Exist</label>
        </rules>
        <rules>
            <name>Hierarchy_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>Hierarchy Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Parent_Exist_Or_Not</name>
        <label>Old Parent Exist Or Not?</label>
        <locationX>629</locationX>
        <locationY>18</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Old_Parent_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldParentValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Id_To_Update</targetReference>
            </connector>
            <label>Old Parent Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Exist_Or_Not_On_Parent_Account</name>
        <label>Parent Exist Or Not On Parent Account</label>
        <locationX>826</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Parent_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldParent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>Parent Exist</label>
        </rules>
    </decisions>
    <label>Populate Has Hierarchy On Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>290</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Account_Is_Parent_Of_Other_Account</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IsParent</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Account_Details</name>
        <label>Get Parent Account Details</label>
        <locationX>853</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Exist_Or_Not_On_Parent_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>OldParent</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Has_Hierarchy_On_Account</name>
        <label>Set Has Hierarchy On Account</label>
        <locationX>247</locationX>
        <locationY>252</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Hierarchy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Hierarchy_On_Parent_Account</name>
        <label>Update Has Hierarchy On Parent Account</label>
        <locationX>93</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Set_Has_Hierarchy_On_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentAccount</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Hierarchy__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Hierechy_On_Account_To_False</name>
        <label>Update Has Hierechy On Account To False</label>
        <locationX>493</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Old_Parent_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Hierarchy__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Check_If_Hierarchy_Exist_On_Account_Or_Not</startElementReference>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IsParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldParentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
