src/flows/Set_Primary_CT-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_CurrentCT_to_PrimaryCT</name>
        <label>Set CurrentCT to PrimaryCT</label>
        <locationX>389</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>PrimaryCT.rC_Bios__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryCT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryCT.rC_Bios__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_CT_to_define_Primary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Compare_Priority</name>
        <label>Compare Priority</label>
        <locationX>674</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_CT_to_define_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Current_CT_Lower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCT.rC_Bios__Priority__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>PrimaryCT.rC_Bios__Priority__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CurrentCT_to_PrimaryCT</targetReference>
            </connector>
            <label>Current CT Lower</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_or_More_CTs</name>
        <label>One or More CTs?</label>
        <locationX>238</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_PrimaryCT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than one CT</defaultConnectorLabel>
        <rules>
            <name>No_CTs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactConstituentTypes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_CT_to_Primary_CT</targetReference>
            </connector>
            <label>No CTs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Exists</name>
        <label>Primary Exists?</label>
        <locationX>323</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_CT_to_define_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Exists</defaultConnectorLabel>
        <rules>
            <name>No_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_CT_to_Primary_CT</targetReference>
            </connector>
            <label>No Primary</label>
        </rules>
    </decisions>
    <description>This version has better comparison</description>
    <label>Set Primary CT</label>
    <loops>
        <name>Loop_through_all_CT_to_define_Primary</name>
        <label>Loop through all CT to define Primary</label>
        <locationX>534</locationX>
        <locationY>396</locationY>
        <assignNextValueToReference>CurrentCT</assignNextValueToReference>
        <collectionReference>ContactConstituentTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Priority</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CTs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Contact_CT</name>
        <label>Get all Contact CT</label>
        <locationX>238</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>One_or_More_CTs</targetReference>
        </connector>
        <filters>
            <field>rC_Bios__Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Constituent Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>rC_Bios__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Preference__c</object>
        <outputReference>ContactConstituentTypes</outputReference>
        <queriedFields>rC_Bios__Contact__c</queriedFields>
        <queriedFields>rC_Bios__Category__c</queriedFields>
        <queriedFields>rC_Bios__Priority__c</queriedFields>
        <queriedFields>rC_Bios__Primary__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PrimaryCT</name>
        <label>Get PrimaryCT</label>
        <locationX>318</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Exists</targetReference>
        </connector>
        <filters>
            <field>rC_Bios__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Bios__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>rC_Bios__Preference__c</object>
        <outputReference>PrimaryCT</outputReference>
        <queriedFields>rC_Bios__Category__c</queriedFields>
        <queriedFields>rC_Bios__Subcategory__c</queriedFields>
        <queriedFields>rC_Bios__Primary__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Active_CT_to_Primary_CT</name>
        <label>Set Active CT to Primary CT</label>
        <locationX>145</locationX>
        <locationY>278</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveCTId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Bios__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Preference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CTs</name>
        <label>Update CTs</label>
        <locationX>746</locationX>
        <locationY>396</locationY>
        <inputReference>ContactConstituentTypes</inputReference>
    </recordUpdates>
    <startElementReference>Get_all_Contact_CT</startElementReference>
    <variables>
        <description>The Constituent Type that triggered the flow</description>
        <name>ActiveCTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActiveCTPriority</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContactConstituentTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Preference__c</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentCT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Preference__c</objectType>
    </variables>
    <variables>
        <name>PrimaryCT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Preference__c</objectType>
    </variables>
    <variables>
        <description>Id of Primary CT record</description>
        <name>PrimaryCTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryCTPriority</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
