src/flows/Set_Primary_CT-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Update_Primary</name>
        <label>Update Primary</label>
        <locationX>603</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Primary_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCTPriority</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_CT_to_Primary</targetReference>
            </connector>
            <label>No Primary CT</label>
        </rules>
        <rules>
            <name>Current_Primary_CT_is_lower_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveCTPriority</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>PrimaryCTPriority</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Active_CT_to_Primary</targetReference>
            </connector>
            <label>Current Primary CT is lower Priority</label>
        </rules>
        <rules>
            <name>Active_CT_has_lower_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCTPriority</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ActiveCTPriority</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ensure_Active_is_not_Primary</targetReference>
            </connector>
            <label>Active CT has lower priority</label>
        </rules>
    </decisions>
    <label>Set Primary CT</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Primary_CT</name>
        <label>Get Current Primary CT</label>
        <locationX>606</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Primary</targetReference>
        </connector>
        <filters>
            <field>rC_Bios__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Bios__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>rC_Bios__Preference__c</object>
        <outputAssignments>
            <assignToReference>PrimaryCTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryCTPriority</assignToReference>
            <field>rC_Bios__Priority__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Ensure_Active_is_not_Primary</name>
        <label>Ensure Active is not Primary</label>
        <locationX>946</locationX>
        <locationY>226</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveCTId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Bios__Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Preference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_Primary_Flag_from_Old_Primary</name>
        <label>Remove Primary Flag from Old Primary</label>
        <locationX>804</locationX>
        <locationY>474</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryCTId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Bios__Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Preference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Active_CT_to_Primary</name>
        <label>Set Active CT to Primary</label>
        <locationX>458</locationX>
        <locationY>352</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveCTId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Bios__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Preference__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Active_CT_to_Primary</name>
        <label>Update Active CT to Primary</label>
        <locationX>802</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Remove_Primary_Flag_from_Old_Primary</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveCTId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rC_Bios__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>rC_Bios__Preference__c</object>
    </recordUpdates>
    <startElementReference>Get_Current_Primary_CT</startElementReference>
    <variables>
        <description>The Constituent Type that triggered the flow</description>
        <name>ActiveCTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActiveCTPriority</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContactConstituentTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Preference__c</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of Primary CT record</description>
        <name>PrimaryCTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryCTPriority</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
