src/flows/Team_Member_Chatter_Notification-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_On_Contact</name>
        <label>Chatter Post On Contact</label>
        <locationX>590</locationX>
        <locationY>28</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberAddedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Parent_Team</name>
        <label>Chatter Post On Parent Team</label>
        <locationX>412</locationX>
        <locationY>29</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_Post_On_Contact</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TeamId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberAddedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Is_Team_Member_Activated</name>
        <label>Is Team Member Activated?</label>
        <locationX>41</locationX>
        <locationY>28</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team_Name</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Deactivated</label>
        </rules>
    </decisions>
    <formulas>
        <name>TeamMemberAddedChatterNotification</name>
        <dataType>String</dataType>
        <expression>&quot;Team Member&quot; &amp;{!TeamMemberName}&amp; &quot; has been added to Team&quot; &amp; {!TeamName}&amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>TeamMemberDeactivatedChatterNotification</name>
        <dataType>String</dataType>
        <expression>&quot;Team member&quot; &amp; {!TeamMemberName}&amp; &quot;has been deavtivated from Team&quot; &amp; {!TeamName}&amp;&quot;.&quot;</expression>
    </formulas>
    <label>Team Member Chatter Notification</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Team_Name</name>
        <label>Get Team Name</label>
        <locationX>249</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_Post_On_Parent_Team</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamId</elementReference>
            </value>
        </filters>
        <object>rC_Education__Team__c</object>
        <outputAssignments>
            <assignToReference>TeamName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Is_Team_Member_Activated</startElementReference>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActivated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
