src/flows/Team_Member_Chatter_Notification-19.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_Deactivation_Of_Team_Member_On_Team</name>
        <label>Chatter Post Deactivation Of Team Member On Team</label>
        <locationX>249</locationX>
        <locationY>158</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_If_Contact_Exist_Or_Not_On_Strategy</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TeamId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberDeactivatedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Account</name>
        <label>Chatter Post On Account</label>
        <locationX>672</locationX>
        <locationY>180</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberAddedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Contact</name>
        <label>Chatter Post On Contact</label>
        <locationX>637</locationX>
        <locationY>23</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberAddedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Deactivation_Of_Team_Member_On_Contact</name>
        <label>Chatter Post On Deactivation Of Team Member On Contact</label>
        <locationX>463</locationX>
        <locationY>329</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberDeactivatedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Parent_Team</name>
        <label>Chatter Post On Parent Team</label>
        <locationX>431</locationX>
        <locationY>20</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_If_Contact_Exist_Or_Not</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TeamId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberAddedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Strategy_Account</name>
        <label>Chatter Post On Strategy Account</label>
        <locationX>195</locationX>
        <locationY>372</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberDeactivatedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_If_Contact_Exist_Or_Not</name>
        <label>Check If Contact Exist Or Not</label>
        <locationX>443</locationX>
        <locationY>124</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_On_Contact</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
        <rules>
            <name>Contact_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_On_Account</targetReference>
            </connector>
            <label>Contact Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Contact_Exist_Or_Not_On_Strategy</name>
        <label>Check If Contact Exist Or Not On Strategy</label>
        <locationX>269</locationX>
        <locationY>249</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist_On_Strategy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_On_Deactivation_Of_Team_Member_On_Contact</targetReference>
            </connector>
            <label>Contact Exist On Strategy</label>
        </rules>
        <rules>
            <name>Contact_Not_Exist_On_Strategy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_On_Strategy_Account</targetReference>
            </connector>
            <label>Contact Not Exist On Strategy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Team_Member_Activated</name>
        <label>Is Team Member Activated?</label>
        <locationX>234</locationX>
        <locationY>23</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_On_Parent_Team</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_Deactivation_Of_Team_Member_On_Team</targetReference>
            </connector>
            <label>Deactivated</label>
        </rules>
    </decisions>
    <formulas>
        <name>TeamMemberAddedChatterNotification</name>
        <dataType>String</dataType>
        <expression>&quot;Team Member&quot;&amp;&quot; &quot; &amp;{!TeamMemberName}&amp; &quot; has been added to Team&quot; &amp;&quot; &quot;&amp;{!TeamName}&amp;&quot;.&quot;&amp;&quot;\n&quot;&amp;&quot;Role :&quot; &amp;{!Role1}&amp;&quot;\n&quot;&amp;&quot;Assignment Reason : &quot;&amp;{!AssigmentReason}&amp;&quot;\n&quot;&amp;&quot;Assignment Comment :&quot; &amp;{!AssignmentComment}</expression>
    </formulas>
    <formulas>
        <name>TeamMemberDeactivatedChatterNotification</name>
        <dataType>String</dataType>
        <expression>&quot;Team member&quot; &amp;&quot; &quot; &amp; {!TeamMemberName}&amp; &quot;  has been deactivated from Team&quot;&amp;&quot;   &quot;&amp;{!TeamName}&amp;&quot;.&quot;&amp;&quot;\n &quot;&amp;&quot;Role :&quot; &amp;{!Role1}&amp;&quot;\n&quot;&amp; &quot;Assignment Reason : &quot;&amp;{!AssigmentReason}&amp;&quot; \n&quot;&amp;&quot;Assignment Comment :&quot; &amp;{!AssignmentComment}</expression>
    </formulas>
    <label>Team Member Chatter Notification</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Team_Member_Name</name>
        <label>Get Team Member Name</label>
        <locationX>41</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamMemberId</elementReference>
            </value>
        </filters>
        <object>rC_Bios__Relationship__c</object>
        <outputAssignments>
            <assignToReference>AssignmentComment</assignToReference>
            <field>Assignment_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssigmentReason</assignToReference>
            <field>Assignment_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Role1</assignToReference>
            <field>rC_Bios__Role_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>rC_Education__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>38</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Team_Member_Activated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>TeamMemberName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Team_Member_Name</startElementReference>
    <textTemplates>
        <name>LineBreak</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssigmentReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignmentComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActivated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Role1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
