src/flows/Team_Member_Chatter_Notification-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_Deactivation_Of_Team_Member_On_Team</name>
        <label>Chatter Post Deactivation Of Team Member On Team</label>
        <locationX>232</locationX>
        <locationY>277</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TeamId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberDeactivatedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Contact</name>
        <label>Chatter Post On Contact</label>
        <locationX>570</locationX>
        <locationY>23</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberAddedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Deactivation_Of_Team_Member_On_Contact</name>
        <label>Chatter Post On Deactivation Of Team Member On Contact</label>
        <locationX>231</locationX>
        <locationY>165</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_Post_Deactivation_Of_Team_Member_On_Team</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberDeactivatedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_On_Parent_Team</name>
        <label>Chatter Post On Parent Team</label>
        <locationX>431</locationX>
        <locationY>20</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Chatter_Post_On_Contact</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TeamId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>TeamMemberAddedChatterNotification</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Is_Team_Member_Activated</name>
        <label>Is Team Member Activated?</label>
        <locationX>234</locationX>
        <locationY>23</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_On_Parent_Team</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
        <rules>
            <name>Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActivated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_On_Deactivation_Of_Team_Member_On_Contact</targetReference>
            </connector>
            <label>Deactivated</label>
        </rules>
    </decisions>
    <formulas>
        <name>TeamMemberAddedChatterNotification</name>
        <dataType>String</dataType>
        <expression>&quot;Team Member&quot; &amp;{!TeamMemberName}&amp; &quot; has been added to Team&quot; &amp; {!TeamName}&amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>TeamMemberDeactivatedChatterNotification</name>
        <dataType>String</dataType>
        <expression>&quot;Team member&quot; &amp; {!TeamMemberName}&amp; &quot;has been deavtivated from Team&quot; &amp; {!TeamName}&amp;&quot;.&quot;</expression>
    </formulas>
    <label>Team Member Chatter Notification</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Team_Member_Name</name>
        <label>Get Team Member Name</label>
        <locationX>40</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Team_Member_Activated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamMemberId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>TeamMemberName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Team_Member_Name</startElementReference>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActivated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TeamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
