src/flows/Update_Delete_Entity_Subscription_Record_From_Team-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_Status_is_Active_or_Inactive</name>
        <label>Check Status is Active or Inactive</label>
        <locationX>383</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Delete_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Entity_Subscription_Record</targetReference>
            </connector>
            <label>Delete Record</label>
        </rules>
        <rules>
            <name>Check_Record_Exists_or_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Record</targetReference>
            </connector>
            <label>Check Record Exists or Not</label>
        </rules>
    </decisions>
    <label>Update/Delete Entity Subscription Record From Team</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Entity_Subscription_Record</name>
        <label>Create Entity Subscription Record</label>
        <locationX>746</locationX>
        <locationY>392</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>SObjTeamMember.rC_Education__User__c</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Record</name>
        <label>Delete Existing Record</label>
        <locationX>591</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Create_Entity_Subscription_Record</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjTeamMember.rC_Education__User__c</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Entity_Subscription_Record</name>
        <label>Remove Entity Subscription Record</label>
        <locationX>197</locationX>
        <locationY>283</locationY>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjTeamMember.rC_Education__User__c</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
    </recordDeletes>
    <recordLookups>
        <name>Check_Record_Exists</name>
        <label>Check Record Exists</label>
        <locationX>385</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status_is_Active_or_Inactive</targetReference>
        </connector>
        <object>rC_Bios__Relationship__c</object>
        <outputReference>SObjTeamMember</outputReference>
        <queriedFields>rC_Education__User__c</queriedFields>
    </recordLookups>
    <startElementReference>Check_Record_Exists</startElementReference>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordExists</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>Relationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>sObjectRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>SObjRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>SObjTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
