src/flows/Update_Team_Approver_On_Strategy-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Populate_First_Team_Approver</name>
        <label>Populate First Team Approver</label>
        <locationX>663</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>TeamApprover1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SobjTeamMember.rC_Education__User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Child_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Second_Team_Approver</name>
        <label>Populate Second Team Approver</label>
        <locationX>450</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>TeamApprover2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SobjTeamMember.rC_Education__User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Child_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Third_Team_Approver</name>
        <label>Third Team Approver</label>
        <locationX>269</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>TeamApprover3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SobjTeamMember.rC_Education__User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Child_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Exist_Or_Not</name>
        <label>Check Contact Exist Or Not</label>
        <locationX>13</locationX>
        <locationY>153</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Child_Teams</targetReference>
            </connector>
            <label>Contact Exist</label>
        </rules>
        <rules>
            <name>Contact_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Team_On_Account</targetReference>
            </connector>
            <label>Contact Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Active_Team_Exist_Or_Not</name>
        <label>Check If Active Team Exist Or Not</label>
        <locationX>207</locationX>
        <locationY>22</locationY>
        <defaultConnectorLabel>No Active Team Exist On Contact</defaultConnectorLabel>
        <rules>
            <name>Active_Team_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SobjColChildTeams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Child_Teams</targetReference>
            </connector>
            <label>Active Team Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Child_Team_Member_Exist_Or_Not</name>
        <label>Check If Child Team Member Exist Or Not</label>
        <locationX>228</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Looping_Child_Teams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Team_Member_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SobjCollChildTeamMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_Child_Team_Members</targetReference>
            </connector>
            <label>Team Member Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Team_Members</name>
        <label>Check Team Members</label>
        <locationX>475</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Looping_Child_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>First_Team_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_First_Team_Approver</targetReference>
            </connector>
            <label>First Team Approver</label>
        </rules>
        <rules>
            <name>Second_Team_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Second_Team_Approver</targetReference>
            </connector>
            <label>Second Team Approver</label>
        </rules>
        <rules>
            <name>Third_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Third_Team_Approver</targetReference>
            </connector>
            <label>Third Approver</label>
        </rules>
    </decisions>
    <label>Update Team Approver On Strategy</label>
    <loops>
        <name>Looping_Child_Team_Members</name>
        <label>Looping Child Team Members</label>
        <locationX>456</locationX>
        <locationY>146</locationY>
        <assignNextValueToReference>SobjTeamMember</assignNextValueToReference>
        <collectionReference>SobjCollChildTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Team_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Looping_Child_Teams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looping_Child_Teams</name>
        <label>Looping Child Teams</label>
        <locationX>453</locationX>
        <locationY>18</locationY>
        <assignNextValueToReference>SobjTeams</assignNextValueToReference>
        <collectionReference>SobjColChildTeams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Primary_Child_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Strategy_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Child_Teams</name>
        <label>Get Active Child Teams</label>
        <locationX>61</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Active_Team_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>rC_Education__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>rC_Education__Team__c</object>
        <outputReference>SobjColChildTeams</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rC_Education__Active__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Team_On_Account</name>
        <label>Get Active Team On Account</label>
        <locationX>59</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Active_Team_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>rC_Education__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>rC_Education__Team__c</object>
        <outputReference>SobjColChildTeams</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>rC_Education__Active__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Child_Team_Member</name>
        <label>Get Primary Child Team Member</label>
        <locationX>231</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Child_Team_Member_Exist_Or_Not</targetReference>
        </connector>
        <filters>
            <field>rC_Bios__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>User</stringValue>
            </value>
        </filters>
        <filters>
            <field>rC_Education__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SobjTeams.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>rC_Education__User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rC_Bios__Relationship__c</object>
        <outputReference>SobjCollChildTeamMembers</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>rC_Education__User__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Strategy_Record</name>
        <label>Update Strategy Record</label>
        <locationX>778</locationX>
        <locationY>152</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StrategyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Approver1__c</field>
            <value>
                <elementReference>TeamApprover1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Approver2__c</field>
            <value>
                <elementReference>TeamApprover2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_Approver3__c</field>
            <value>
                <elementReference>TeamApprover3</elementReference>
            </value>
        </inputAssignments>
        <object>Strategy__c</object>
    </recordUpdates>
    <startElementReference>Check_Contact_Exist_Or_Not</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SobjColChildTeams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Team__c</objectType>
    </variables>
    <variables>
        <name>SobjCollChildTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>sobjColTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>SobjTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Bios__Relationship__c</objectType>
    </variables>
    <variables>
        <name>SobjTeams</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rC_Education__Team__c</objectType>
    </variables>
    <variables>
        <name>StrategyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamApprover1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamApprover2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamApprover3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
